@font-face {
  font-family: "petrichor_sublimey";
  src: url("./fonts/petrichorsublimey-l3zdw-webfont.woff2") format("woff2"),
    url("./fonts/petrichorsublimey-l3zdw-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "a_astro_space";
  src: url("./fonts/astrospace-ez2bg-webfont.woff2") format("woff2"),
    url("./fonts/astrospace-ez2bg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "a_astro_space";
}
h2 {
  font-family: "petrichor_sublimey";
}
p {
  font-family: "roboto";
}
