:root {
  --primary-font: "a_astro_space";
  --secondary-font: "petrichor_sublimey";
  --paragraph-font: "roboto";
}
@font-face {
  font-family: "petrichor_sublimey";
  src: url("./fonts/petrichorsublimey-l3zdw-webfont.woff2") format("woff2"), url("./fonts/petrichorsublimey-l3zdw-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "a_astro_space";
  src: url("./fonts/astrospace-ez2bg-webfont.woff2") format("woff2"), url("./fonts/astrospace-ez2bg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"), url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "a_astro_space";
}
h2 {
  font-family: "petrichor_sublimey";
}
h3 {
  font-family: "a_astro_space";
  font-size: 1.1rem;
  text-align: center;
  font-weight: 100;
  margin: 10px 0px;
  margin-left: 5px;
}
p {
  font-family: "roboto";
}
