.image_container img {
  width: 120px;
  height: 120px;
  max-width: 120px;
}

.overview_h1 {
  text-align: center;
}

.overview_wrapper {
  height: 76vh;

  width: 100%;
}

.overview_box {
  background-color: #232323;
  border: 5px solid #16acda;
  border-radius: 5px;
  margin: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview_back {
  align-self: flex-start;
}

.close {
  border-style: none;
  color: #ff9a61;

  cursor: pointer;
  position: absolute;
  z-index: 10;

  right: -0.5rem;
  top: -0.5rem;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-shadow: var(--button-text-shadow);
  border-radius: 50%;

  font-family: "a_astro_space";
  font-size: 1.5rem;
}

/* PARENT */
.beer_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #49494d;
  border-radius: var(--border-radius);
  height: 120px;
  min-width: 300px;
}
.beer_container_prev {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
}

.title_container {
  flex-grow: 4;
  flex-basis: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* CHILD */
.beer_header {
  /* flex-grow: 4;
  flex-basis: 90px; */
  flex-grow: 1;
  text-decoration: underline;
  position: relative;
}

.small_title {
  font-size: 0.7rem;
}

.small_title_prev {
  font-size: 0.7rem;
}
/* CHILD */
.image_container {
  flex-grow: 1;
  flex-basis: 30px;
}
/* CHILD */
.under_col {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 550px) {
  .small_title {
    font-size: 1rem;
  }
  .small_title_prev {
    font-size: 1rem;
  }
  .beer_container {
    min-width: 500px;
  }
}
