/********** OVERVIEW - JEAN **********/
/********** CONTAINERS **********/
.overview_wrapper {
  position: relative;
  border: var(--border-color);
  border-radius: var(--border-radius);
  margin: 20px;
}

.overview_box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 0;

  max-width: 500px;
  margin: auto;
}

/* BUTTON */
.payment_button a {
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

/* TEXT */
.overview_h1 {
  font-size: 2rem;
  text-align: center;
}

.overview_subtotal {
  font-family: var(--primary-font);
  text-decoration: underline;
}

/********** BEER CONTAINER**********/
/* CONTAINER ITEMS */
.image_container img {
  width: 120px;
  height: 120px;
  max-width: 120px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;

  border: none;
  width: 35px;
  height: 35px;
  background-color: #fffdfd;
  text-shadow: var(--button-text-shadow);
  box-shadow: none;
  color: #ff9a61;
  font-size: 1rem;
}

/* PARENT */
.beer_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #49494d;
  border-radius: var(--border-radius);
  height: 120px;
  min-width: 300px;
  margin-bottom: 20px;
}
.beer_container_prev {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
}

.title_container {
  flex-grow: 4;
  flex-basis: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* CHILD */
.beer_header {
  flex-grow: 1;
  text-decoration: underline;
  position: relative;
}

.small_title {
  flex-grow: 1;
  font-size: 0.7rem;
}

.beer_amount {
  margin-right: 10px;
}

.small_title_prev {
  font-size: 0.7rem;
}
/* CHILD */
.image_container {
  flex-grow: 1;
  flex-basis: 30px;
}
/* CHILD */
.under_col {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 550px) {
  .small_title {
    font-size: 1rem;
  }
  .small_title_prev {
    font-size: 1rem;
  }
  .beer_container {
    min-width: 500px;
  }
  .overview_wrapper {
    max-width: 700px;
    margin: auto;
  }
}
